@{
    ViewBag.Title = "Antivirus PaaS PoC";
}

<div class="jumbotron">
    <h1>Antivirus IIS PoC</h1>
    <p>
        <form action="" method="post" enctype="multipart/form-data">

            <label for="file">Filename:</label>
            <input type="file" name="file" id="file" />

            <input type="submit" />
        </form>
    </p>
</div>